@property --switchState {
	syntax: '<number>';
	initial-value: 0;
	inherits: true;
}
@keyframes switchOut {
	0% {
		--switchState: 1;
	}
	100% {
		--switchState: 0;
	}
}
@keyframes switchIn {
	0% {
		--switchState: 0;
	}

	100% {
		--switchState: 1;
	}
}

body{
	margin: auto;
	background-color: black;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
}

#body {
	margin: auto;
	background-color: black;
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	overflow: hidden;
}

body.switchIn{
	animation: 1s switchIn normal forwards;
}
body.switchOut{
	animation: 1s switchOut normal forwards;
}
body.switchIn #switchScreen, body.switchOut #switchScreen{
	display: flex;
}

#body, main, main > *{
	--switchStateCompression: 0.9;
	--aspectRatio: calc(16 / 9);
	aspect-ratio: var(--aspectRatio);
	height: 1em;
}

main, #switchScreen{
	font-size: calc(100% * (1 - ((1 - var(--switchStateCompression)) * var(--switchState))));
	overflow: hidden;
}

main{
	background-color: green;
	height: 1em;
}

#cachedImages{
	position: absolute;
	top: 100vh;
	opacity: 0.01;
	width: 0px;
	height: 0px;
}









#switchScreen{
	user-select: none;
	height: 100%;
	width: 100%;
	display: none;
	position: absolute;
	bottom: 0;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	align-items: center;
}

#topPartSwitchScreen{
	background-color: red;
	width: calc(1em * var(--aspectRatio) / var(--switchStateCompression));
	height: calc(1em * (1 - var(--switchStateCompression)) * (2 - var(--switchStateCompression)));
	background-image: url("img/roof.png");
	background-size: cover;
	background-position: bottom;
}

#bottomPartSwitchScreen{
	height: 1em;
	display: flex;
	justify-content: center
}

#middlePartSwitchScreen{
	width: calc(1em * var(--aspectRatio) * (1 - var(--switchState)));
}

#leftPartSwitchScreen{
	background-color: yellow;
	height: 1em;
	width: calc(1em * var(--aspectRatio) / 2 / var(--switchStateCompression));
	background-image: url("img/door.png");
	background-size: cover;
	background-position: right;
}

#rightPartSwitchScreen{
	background-color: pink;
	height: 1em;
	width: calc(1em * var(--aspectRatio) / 2 / var(--switchStateCompression));
	background-image: url("img/door.png");
	background-size: cover;
	background-position: left;
}












#shopScreen{
	background-image: url("img/inside.jpg");
	background-size: cover;
}