@property --switchState {
	syntax: '<number>';
	initial-value: 0;
	inherits: true;
}
@keyframes switchOut {
	0% {
		--switchState: 1;
	}
	100% {
		--switchState: 0;
	}
}
@keyframes switchIn {
	0% {
		--switchState: 0;
	}

	100% {
		--switchState: 1;
	}
}

body{
	margin: auto;
	background-color: black;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
}

#body {
	margin: auto;
	background-color: black;
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	overflow: hidden;
}

body.switchIn{
	animation: 1s switchIn normal forwards;
}
body.switchOut{
	animation: 1s switchOut normal forwards;
}
body.switchIn #switchScreen, body.switchOut #switchScreen{
	display: flex;
}

#body, main, main > * {
	--switchStateCompression: 0.9;
	--aspectRatio: calc(16 / 9);
	aspect-ratio: var(--aspectRatio);
	height: 1em;
}

main > * > *{
	position: relative;
}

main, #switchScreen{
	font-size: calc(100% * (1 - ((1 - var(--switchStateCompression)) * var(--switchState))));
	overflow: hidden;
}

main{
	background-color: green;
	height: 1em;
}

#cachedImages{
	position: absolute;
	top: 100vh;
	opacity: 0.01;
	width: 0px;
	height: 0px;
}

.normalizeFont{
	font-size: 0.04em;
}




#switchScreen{
	user-select: none;
	height: 100%;
	width: 100%;
	display: none;
	position: absolute;
	bottom: 0;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	align-items: center;
}

#topPartSwitchScreen{
	background-color: red;
	width: calc(1em * var(--aspectRatio) / var(--switchStateCompression));
	height: calc(1em * (1 - var(--switchStateCompression)) * (2 - var(--switchStateCompression)));
	background-image: url("img/roof.png");
	background-size: cover;
	background-position: bottom;
}

#bottomPartSwitchScreen{
	height: 1em;
	display: flex;
	justify-content: center
}

#middlePartSwitchScreen{
	width: calc(1em * var(--aspectRatio) * (1 - var(--switchState)));
}

#leftPartSwitchScreen{
	background-color: yellow;
	height: 1em;
	width: calc(1em * var(--aspectRatio) / 2 / var(--switchStateCompression));
	background-image: url("img/door.png");
	background-size: cover;
	background-position: right;
}

#rightPartSwitchScreen{
	background-color: pink;
	height: 1em;
	width: calc(1em * var(--aspectRatio) / 2 / var(--switchStateCompression));
	background-image: url("img/door.png");
	background-size: cover;
	background-position: left;
}








#shopScreen{
	background-image: url("img/inside.jpg");
	background-size: cover;
}


.setupMenu{
	position: absolute;
	top: 0.3em;
	left: 0.3em;
	padding: 0.04em;
	background-color: rgba(127,127,127,0.64);
	border-radius: 0.02em;
	min-width: 0.3em;
}


button{
	height: 1.5em;
	font-size: 1em;
	padding: 0.05em 0.275em;
}


input{
	height: 1.2em;
	font-size: 1em;
}
input:not([type]){
	min-width: 0.3em;
}
input[type="radio"]{
	font-size: 1em;
	margin: 0.1em 0.2em 0 0.166em;
	width: 0.8em;
	height: 0.8em;
}
input[type="checkbox"]{
	font-size: 1em;
	margin: 0.1em 0.25em 0.1em 0.166em;
	width: 0.6em;
	height: 0.6em;
}







#gameTopBar{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5em;
	background-color: white;
}